* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SCSS RGB */
$prussian-blue: rgba(0, 48, 73, 1);
$maximum-red: rgba(214, 40, 40, 1);
$orange: rgba(247, 127, 0, 1);
$maximum-yellow-red: rgba(252, 191, 73, 1);
$lemon-meringue: rgba(234, 226, 183, 1);
body {
  background-color: $prussian-blue;
}

a {
  text-decoration: none;
  margin: 5px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
  .logo-container {
    display: flex;
    align-items: center;
    svg,
    a {
      color: $maximum-red;
      font-size: 30px;
    }
  }
  .nav_routes_container {
    a {
      color: $maximum-red;
      font-size: 20px;
      padding: 5px;
    }
    a:hover {
      color: white;
      transition: 0.5s;
    }
  }
}
main {
  height: 85vh;
}
footer {
  color: $maximum-red;
  height: 10vh;
  text-align: center;

  svg {
    margin-right: 5px;
  }
}

//about page
.about{
  padding: 10%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  letter-spacing: .5px;
  
  h1,p{
    color: $maximum-red;
  }
  a{
    color: white;
  }
  h1{
    font-weight:800 ;
    padding: 20px 0;
    font-size: 40px;
  }
  p{
    font-size: 20px;
    padding: 10px 0;
    font-weight:200 ;

  }
}

//spinner
.spinner_container{
  
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 50%;
  }
}

//users card


.users-card{
  box-shadow: 1px 1px 1px 1px white;
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  float: left;
  padding: 10px;
  .image-container{
    background-color: white;
    width: 300px;
    height: 300px;
    img{
      width: 100%;
    }
  }
  p{
    color: white;
    text-transform: uppercase;
  }
}